<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="assets\css\custom.css">


    <script>
     function validate(){
    var otp = document.getElementById("otp").value;

    if ( otp == "")
    {
    alert ("You have left blank");
    return false;
    }

    if ( otp == "admin")
    {
    alert ("verfication Successful");
    return true;
    }
    else{
    alert("Please enter correct OTP");
    return false;
    }
    }
    </script>


  </head>
  <body>
    <div class="main_tile"align="center" id="MT">
    <div class="main_tile_01" align="center" id="MT1">
          <h1><b>Add Your Company details</b><h1>
    </div>
    <div class="main_tile_02"  id="MT2">
      <h6>kindly fill the below form<h6><br>
        <h1>check your mail for otp <h1><br>
    </div>
    </div>




      <form class="page" id="f1" action="/thanks" onsubmit="return validate()"  method="post">

        <div class="row">
        <div class="col25">
        <label for="otp"><h3>Enter your otp</h3></label>
        </div>
        <div class="col75">
        <input type="text" name="otp" id="otp" required><br>
        </div>
        </div>




        <label for="submit"><h3></h3></label>
        <input type="submit" name="submit" value="submit" ></input>

        <label for="reset"><h3></h3></label>
        <input type="reset" name="reset" value="Reset" >

      </form>
  </body>
</html>
