<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="assets\css\custom.css">
  </head>

  <body>
<div class="thank">


  <div class="signup">
    <p><b><h1>Thank you for joining us</h1></b></p>
  </div>


    <div class="contact">
      <p><b><h2>We will contact you soon</h2></b></p>
    </div>
    </div>

  </body>

</html>
